<div class="row">
  <div class="col-md-6" *ngIf="showChoice">
    <h2 class="cavetitle">{{(caveToDisplay | async)?.name}}</h2>

      <h3 class="story">{{(caveToDisplay | async)?.story}}</h3>
      <img src="{{(caveToDisplay | async)?.img}}">
      <div *ngIf="showLeftRight">
        <button class="btn btn-warning" (click)="chooseLeft()">Left</button>
        <button class="btn btn-danger" (click)="chooseRight()">Right</button>
      </div>
  </div>

  <h2  class="cavetitle" *ngIf="show">Choose Your Character:</h2>
  <br>

  <a (click)="show = false; showChoice = true; selectCharacter('dave')"><div *ngIf="show" class="animate-show-hide col-md-3">
    <h2 class="gametitle">{{(dave | async)?.name}}</h2>
    <img class="char" src="{{(dave | async)?.img}}">
    <h3 class="story">Health: {{(dave | async)?.health}}</h3>
    <h3 class="story">Strength: {{(dave | async)?.strength}}</h3>
    <h3 class="story">Armor: {{(dave | async)?.armor}}</h3>
    <p><em>{{(dave | async)?.story}}</em></p>
  </div></a>

  <a (click)="show = false; showChoice = true; selectCharacter('gram')"><div *ngIf="show" class="animate-show-hide col-md-3">
    <h2 class="gametitle">{{(gram | async)?.name}}</h2>
    <img class="char" src="{{(gram | async)?.img}}">
    <h3 class="story">Health: {{(gram | async)?.health}}</h3>
    <h3 class="story">Strength: {{(gram | async)?.strength}}</h3>
    <h3 class="story">Armor: {{(gram | async)?.armor}}</h3>
    <p><em>{{(gram | async)?.story}}</em></p>
  </div></a>

  <a (click)="show = false; showChoice = true; selectCharacter('timmy')"><div *ngIf="show" class="animate-show-hide col-md-3" value="timmy">
    <h2 class="gametitle">{{(timmy | async)?.name}}</h2>
    <img class="char" src="{{(timmy | async)?.img}}">
    <h3 class="story">Health: {{(timmy | async)?.health}}</h3>
    <h3 class="story">Strength: {{(timmy | async)?.strength}}</h3>
    <h3 class="story">Armor: {{(timmy | async)?.armor}}</h3>
    <p><em>{{(timmy | async)?.story}}</em></p>
  </div></a>

  <a (click)="show = false; showChoice = true; selectCharacter('larry')"><div *ngIf="show" class="animate-show-hide col-md-3" value="larry">
    <h2 class="gametitle">{{(larry | async)?.name}}</h2>
    <img class="char" src="{{(larry | async)?.img}}">
    <h3 class="story">Health: {{(larry | async)?.health}}</h3>
    <h3 class="story">Strength: {{(larry | async)?.strength}}</h3>
    <h3 class="story">Armor: {{(larry | async)?.armor}}</h3>
    <p><em>{{(larry | async)?.story}}</em></p>
  </div></a>

  <div *ngIf="showChoice" class="animate-show-hide col-md-3">
    <h2 class="gametitle">{{(characterToDisplay | async)?.name}}</h2>
    <img class="char" src="{{(characterToDisplay | async)?.img}}">
    <h3 class="story">Health: {{health}}</h3>
    <h3 class="story">Strength: {{strength}}</h3>
    <h3 class="story">Armor: {{armor}}</h3>
    <p><em>{{(characterToDisplay | async)?.story}}</em></p>
  </div>

  <div *ngIf="sameItemShow">
    <h4>You can only hold one of those.</h4>
  </div>

  <div *ngIf="monShow" class="animate-show-hide col-md-3">
    <h2 class="gametitle">{{(monsterToDisplay | async)?.name}}</h2>
    <img class="char" src="{{(monsterToDisplay | async)?.img}}">
    <div *ngIf="attackShow">
      <h3 class="story">Health: {{monHealth}}</h3>
      <h3 class="story">Strength: {{monStrength}}</h3>
      <h3 class="story">Armor: {{monArmor}}</h3>
      <p><em>{{(monsterToDisplay | async)?.story}}</em></p>
    </div>
  </div>




  <div *ngIf="itemShow" class="animate-show-hide col-md-3">
    <h3 class="story">You found: </h3>
    <h2 class="cavetitle">{{(itemToDisplay | async)?.name}}</h2>
    <p><em>{{(itemToDisplay | async)?.clue}}</em></p>
    <img class="char" src="{{(itemToDisplay | async)?.img}}">
    <h3 class="story">Type: {{(itemToDisplay | async)?.type}}</h3>
  </div>
  <div *ngIf=showChoice>
    <button class="btn btn-info" *ngIf="searchShow" (click)="findItem();">{{(caveToDisplay | async)?.search}}</button>
    <button class="btn btn-success" *ngIf="addShow" (click)="applyItem(); findMonster();">add item to your backpack</button>
    <button class="btn btn-info" *ngIf="walkShow" (click)="walkThrough();">walk through cave</button>
    <button class="btn btn-danger" *ngIf="battleShow" (click)="battleMonster();">Battle Monster!</button>
    <button class="btn btn-warning" *ngIf="attackShow" (click)="attack();">Attack!</button>
  </div>
</div>
<br>
<div class="row">
  <div class="inv col-md-1">
    <img src="{{inventory[0].img}}">
    <span class="info">{{inventory[0].name}}</span>
  </div>
  <div class="inv col-md-1">
    <img src="{{inventory[1].img}}">
    <span class="info">{{inventory[1].name}}</span>
  </div>
  <div class="inv col-md-1">
    <img src="{{inventory[2].img}}">
    <span class="info">{{inventory[2].name}}</span>
  </div>
  <div class="inv col-md-1">
    <img src="{{inventory[3].img}}">
    <span class="info">{{inventory[3].name}}</span>
  </div>
  <div class="inv col-md-1">
    <img src="{{inventory[4].img}}">
    <span class="info">{{inventory[4].name}}</span>
  </div>
  <div class="inv col-md-1">
    <img src="{{inventory[5].img}}">
    <span class="info">{{inventory[5].name}}</span>
  </div>
  <div class="inv col-md-1">
    <img src="{{inventory[6].img}}">
    <span class="info">{{inventory[6].name}}</span>
  </div>
  <div class="inv col-md-1">
    <img src="{{inventory[7].img}}">
    <span class="info">{{inventory[7].name}}</span>
  </div>
  <div class="inv col-md-1">
    <img src="{{inventory[8].img}}">
    <span class="info">{{inventory[8].name}}</span>
  </div>
  <div class="inv col-md-1">
    <img src="{{inventory[9].img}}">
    <span class="info">{{inventory[9].name}}</span>
  </div>
  <div class="inv col-md-1">
    <img src="{{inventory[10].img}}">
    <span class="info">{{inventory[10].name}}</span>
  </div>
  <div class="inv col-md-1">
    <img src="{{inventory[11].img}}">
    <span class="info">{{inventory[11].name}}</span>
  </div>
</div>
<div class="row">
  <div class="inv col-md-1">
    <img src="{{inventory[12].img}}">
    <span class="info">{{inventory[12].name}}</span>
  </div>
  <div class="inv col-md-1">
    <img src="{{inventory[13].img}}">
    <span class="info">{{inventory[13].name}}</span>
  </div>
  <div class="inv col-md-1">
    <img src="{{inventory[14].img}}">
    <span class="info">{{inventory[14].name}}</span>
  </div>
  <div class="inv col-md-1">
    <img src="{{inventory[15].img}}">
    <span class="info">{{inventory[15].name}}</span>
  </div>
  <div class="inv col-md-1">
    <img src="{{inventory[16].img}}">
    <span class="info">{{inventory[16].name}}</span>
  </div>
  <div class="inv col-md-1">
    <img src="{{inventory[17].img}}">
    <span class="info">{{inventory[17].name}}</span>
  </div>
  <div class="inv col-md-1">
    <img src="{{inventory[18].img}}">
    <span class="info">{{inventory[18].name}}</span>
  </div>
  <div class="inv col-md-1">
    <img src="{{inventory[19].img}}">
    <span class="info">{{inventory[19].name}}</span>
  </div>
  <div class="inv col-md-1">
    <img src="{{inventory[20].img}}">
    <span class="info">{{inventory[20].name}}</span>
  </div>
  <div class="inv col-md-1">
    <img src="{{inventory[21].img}}">
    <span class="info">{{inventory[21].name}}</span>
  </div>
  <div class="inv col-md-1">
    <img src="{{inventory[22].img}}">
    <span class="info">{{inventory[22].name}}</span>
  </div>
  <div class="inv col-md-1">
    <img src="{{inventory[23].img}}">
    <span class="info">{{inventory[23].name}}</span>
  </div>
</div>
